extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code JavaScript operators for beginners';
        var myDescription = 'Assign values to variables';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/operators';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Operators
    p With JavaScript operators we can perform arithmetic on numbers, assign values, and much more. 