extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code JavaScript operators for beginners';
        var myDescription = 'With JavaScript operators we can perform arithmetic on numbers, assign values, and much more.';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/operators';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Operators
    p  The "equal to" operator is written like == in JavaScript.