extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code JavaScript variables for beginners';
        var myDescription = 'JavaScript Variables are fuctional';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/variables';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Variables
    p JavaScript variables are containers for storing data values.