extends _component/layout/template

block awesome-content
      h1 This is a replica of w3schools.com
      p I will try to use all HTML elements and CSS, to learn faster how to write and produce styled HTML pages.
      h2 HTML
      p The language for building web pages. #[a(href="/about html") Click to see !!!]
      h2 CSS
      p The language for styling web pages. #[a(href="/about css") Try this one !!!]
      h2 JavaScript
      p The language for programming web pages.#[a(href="/about JavaScript") Check it out !!!]